@charset "UTF-8";



/* home-top */
.home-top {
  height: 100vh;
  width: 100%;
  margin: 0;
  color: #000000;
  position: relative;
}

.home-top-main {
  position: absolute;
  height: calc(100% - 120px);
  width: calc(100% - 48px);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center; 
  align-content: center; 
  top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%);
  background-color: #fff;
  padding-top: 20px;
}


.home-top-wrap {
 /* background-color: lightblue; */
 width: 100%; height: 100%;
 padding: 15%;
 /* border: 1px solid red; */
}
.home-wrap-1, .home-wrap-2, .home-wrap-4, .home-wrap-5, .home-wrap-6{grid-row: 1/2;}
.home-wrap-7, .home-wrap-8, .home-wrap-10, .home-wrap-11, .home-wrap-12{grid-row: 2/3;}
.home-wrap-13, .home-wrap-14, .home-wrap-15, .home-wrap-16, .home-wrap-17, .home-wrap-18{grid-row: 3/4;}
.home-wrap-3 {padding: 10%; grid-row: 1 / 3; height: 100%;}
.home-wrap-11 {grid-row: 2 / 4; height: 100%;} 


.home-top-box{
  background-color: #fff;
  aspect-ratio: 1/1;
  position: relative;
}
.home-box-3, .home-box-11{height: 100%; aspect-ratio: unset;}
.home-box-3{background: url(../images/index/main-painting.png) 50% 90% no-repeat; background-size: 100%;}
.home-box-11{background: url(../images/index/main-contactme.png) 50%  0% no-repeat; background-size: cover;}
.home-box-4 {background-image: url('../images/index/project-3.png'), url('../images/index/project-3-bg.png');background-position: 50% 50%, 50% 50%; background-repeat: no-repeat, no-repeat; background-size: 30%, 100%; }
.home-box-6 {background-image: url('../images/index/project-1.png'), url('../images/index/project-1-bg.png');background-position: 50% 50%, 50% 50%; background-repeat: no-repeat, no-repeat; background-size: 30%, 100%; }
.home-box-15 {background-image: url('../images/index/project-2.png'), url('../images/index/project-2-bg.png');background-position: 50% 50%, 50% 50%; background-repeat: no-repeat, no-repeat; background-size: 80%, 100%; }
.home-box-18 {background-image: url('../images/index/project-4.png'), url('../images/index/project-4-bg.png');background-position: 50% 50%, 50% 50%; background-repeat: no-repeat, no-repeat; background-size: 30%, 100%;}
.home-box-7, .home-box-14{text-align: left; place-content: center; font-size: var(--desc-size-sm); line-height: 1.5;}

.home-box-4, .home-box-6, .home-box-15, .home-box-18{border-radius: 50%; filter: brightness(40%);}
.home-box-4 a, .home-box-6 a, .home-box-15 a, .home-box-18 a{width: 100%; height: 100%; position: absolute; left: 0;}
.home-box-4:hover, .home-box-6:hover, .home-box-15:hover, .home-box-18:hover{filter: brightness(100%); border-radius: 10%; transition: 1s;}



.home-cursor-wrap{position: relative;}
.home-cursor {width: 130px; height: 25px; padding: 5px; border: 1px solid #000; border-radius: 20px; background-color: #fff; font-family: "Rubik Bubbles", system-ui; font-size: var(--desc-size-sx);  display: none; position: absolute; pointer-events: none; transform: translate(-50%, -50%); z-index: 1000; overflow: hidden; }
.home-cursor ul {display: flex; flex-direction: row;  margin: 0; padding: 0; list-style-type: none;  animation: mouse-moving 5s linear infinite; }
.home-cursor ul li { white-space: nowrap;  padding-right: 15px; }
@keyframes mouse-moving {
  0% {
    transform: translateX(5%); 
  }
  100% {
    transform: translateX(-100%); 
  }
}




.homefooter{display: grid; grid-template-columns: 1fr 1fr 1fr; position: absolute; width: 100%; bottom: 2%; padding: 0 24px;}
.homefooter .homefooter-box-left{grid-column: 1 / 2; text-align: left;}
.homefooter .homefooter-box-middle{grid-column: 2 / 3; text-align: center; position: absolute; bottom: 2%; left: 50%; transform: translateX(-50%);}
.homefooter .homefooter-box-right{grid-column: 3 / 4; text-align: right;}
.home-top ul li:nth-child(1){font-weight: bold; margin-bottom: 5px;}
.homefooter-box-middle ul li:nth-child(1){font-weight: normal;}




.creative {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

/* SVG 스타일 */
.creative svg {
  position: relative;
}


/* C 스타일 */
.letter-c-1 circle {
  fill: #ffffff; 
  stroke: #000000; 
  stroke-width: 10px; 
  opacity: 1;
  transition: none;
}

/* R 스타일 */
.letter-r{width: 85%; height: 85%; position: relative; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%);}
.letter-r-1, .letter-r-2, .letter-r-3 {
  position: absolute;
  background-color: #000;
  border-radius: 50px;
}

.letter-r-1 {
  top: 0;
  left: 0;
  height: 100%;
  width: 90px;
  animation: letter-r-ani-1 1.3s 2s alternate 2;
}

.letter-r-2 {
  top: 0;
  right: 0;
  width: 100%;
  height: 90px;
  animation: letter-r-ani-2 1.5s 2s alternate 2;
}

.letter-r-3 {
  bottom: -8%;
  left: -25%;
  width: 100%;
  height: 90px;
  transform: rotate(45deg);
  transform-origin: bottom right;
  animation: letter-r-ani-3 1s 2s alternate 2;
  animation-delay: 2s, 3s;
}

@keyframes letter-r-ani-1 {
  0% { height: 100%; }
  100% { height: 70px; }
}

@keyframes letter-r-ani-2 {
  0% { width: 100%; }
  100% { width: 70px; }
}

@keyframes letter-r-ani-3 {
  0% { width: 100%; }
  100% { width: 70px; }
}



/* e 스타일 */
.letter-e-fist { width: 80%; height: 80%; position: relative; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); }
.letter-e-fist-1, .letter-e-fist-2, .letter-e-fist-3 { left: 0; width: 100%; height: calc(120% / 3); background-color: #000; border-radius: 50px; position: absolute; opacity: 1; transition: opacity 0.5s ease, display 0s 1s; }

.letter-e-fist-1 { top: 0; animation: letter-e-ani 1s 2.5s alternate 2; }
.letter-e-fist-2 { animation: letter-e-ani 1s 2.8s alternate 2; }
.letter-e-fist-3 { bottom: 0; animation: letter-e-ani 1s 3s alternate 2; 
  animation-delay: 3s, 1s;
}

@keyframes letter-e-ani { 
  0% { width: 100%; height: calc(120% / 3); border-radius: 50px; opacity: 1; } 100% { width: 70px; height: 70px; border-radius: 50%; display: none; } 
}




/* A 스타일 */
.letter-a-1 circle {
  fill: #ffffff; 
  stroke: #000000; 
  stroke-width: 20px; 
  opacity: 1;
  transition: none;
}

/* T 스타일 */
.creative.letter-t{width: 80%; height: 80%; position: relative;}
.letter-t-1, .letter-t-2, .letter-t-3, .letter-t-4, .letter-t-5{border: 20px solid #000; width: calc(100% / 3); border-radius: 50%; aspect-ratio: 1; position: absolute;  animation-delay: 4s, .5s;}
.letter-t-1{top: 0; left: 0; animation: letter-t-ani 1.5s 2.5s alternate 2; }
.letter-t-2{top: 0; animation: letter-t-ani 1.5s 2.5s alternate 2;}
.letter-t-3{top: 0; right: 0; animation: letter-t-ani 1.5s 2.5s alternate 2;}

.letter-t-4{top: 50%; transform: translateY(-50%); animation: letter-t-ani-4 1s 2.8s alternate 2;}
.letter-t-5{bottom: 0; animation: letter-t-ani-5 1s 2.5s alternate 2;}

@keyframes letter-t-ani { 
  0% { } 
  100% { width: 20%; border: 10px; top: -50%; } }

  @keyframes letter-t-ani-4 { 
    0% { } 
    100% { width: 20%; border: 10px; top: -100%; } }
  @keyframes letter-t-ani-5 { 
  0% { } 
  100% { width: 20%; border: 10px; top: -100%; } }

/* I스타일 */
.letter-i-1 circle {
  fill: #000000; 
  stroke: #000000; 
  stroke-width: 10px; 
  opacity: 1;
  transition: none;
}

/* V 스타일 */
.letter-v-1 circle {
  fill: #000000; 
  stroke: #ffffff; 
  stroke-width: 10px; 
  opacity: 1;
  transition: none;
}

/* E 스타일 */
.letter-e-1 circle {
  fill: #000000;
  stroke: #000000;
  stroke-width: 10px; 
  opacity: 1;
  transition: none;
}






/* home-bottom */
.home-bottom{height: 100vh; position: relative; margin: 0;}
.home-bottom .homebottom-txtbox{width: 50%; margin: 0 auto; padding: 100px 0 50px;}
.home-bottom .homebottom-txtbox li{line-height: 1.5;}

.homebottom-txtbox-wrapper{
    display: grid;
    place-items: center;
}
.homebottom-txtbox-typing{display: none;}
.homebottom-txtbox-typing.on{
    display: block;
    width: 47ch;
    animation: typing 3s steps(47), blink .5s step-end infinite alternate ;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1px solid;
}

@keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

.home-bottom .homebottom-sidetxtbox{ width: 100%; position: absolute; top: 50%; transform: translateY(50%);} 
.home-bottom .homebottom-sidetxtbox ul{font-size: var(--desc-size-sxx); position: absolute; width: 100%; justify-content: space-between; display: flex;} 
.home-bottom .homebottom-sidetxtbox ul li{margin: 0 24px;}
.home-bottom .home-bottom-video{width: 60%; height: 50%; background-color: #ddd; margin: 0 auto; background: url(../images/index/home-bottom-video-img.png) 50% no-repeat; background-size: 80%;}



/* 마우스 */
/* #home-bottom-video-cursor { position: fixed; left: 0; top: 0; pointer-events: none; } 
#home-bottom-video-cursor .inner_wrap { width: 150px; height: 150px; display: flex; justify-content: center; align-items: center; transform: translate(-50%, -50%); opacity: 0; } 
#home-bottom-video-cursor .inner_wrap.on { opacity: 1; }  */




/* project */

.project {height: 100%; position: relative;}
.project .project-container{height: 100%; width: 100%; }

.project .project-box{width: 70%; margin: auto; position: sticky; top: 0; z-index: -99; text-align: center;}
.project .project-box h3{padding-top: 200px; font-size: var(--title-size-sxx);}
.project .project-bg-title{position: absolute; font-size: 9vw; line-height: 1; width: 100%; left: 50%; transform: translateX(-50%); opacity: 0; margin-top: 50px; padding: 0; transition: .5s; display: block; justify-content: center;}
.project .project-bg-title.active{opacity: 1;}
.project .project-box .project-index .project-no{position: sticky; width: 100%; display: block; font-size: var(--desc-size-sxx); text-align: center; transform: translateY(600px);}

.project .project-detail-container{width: 100%; height: 100%; margin: 0 auto; z-index: 9999;}
.project .project-detail-container .project-detail{width: 28vw; height: 35vh; background-color: #000000; margin: 1000px auto; transition: .5s; position: relative;
overflow: hidden; box-shadow: 0px 8px 6px -6px #66666633;
max-height: 380px;
}


.project .project-detail-container .project-detail a{position: absolute; width: 100%; height: 100%; left: 0; z-index: 999;}
.project .project-detail-container .project-detail:hover{ border-radius: 30px;}

.project .project-detail-container .project-detail .project-bg{position: absolute; width: 100%; height: 100%; }
.project .project-detail-container .project-detail img{position: absolute; height: 90%; left: 50%; top: 50%; transform: translateX(-50%) translateY(-50%); transition: .5s;}

.project .project-detail-container .project-detail.part1 .project-bg {background: url(../images/index/project-1-bg.png) no-repeat 50%; background-size: 90%;}

.project .project-detail-container .project-detail.part2{background-color: #fff;}
.project .project-detail-container .project-detail.part2 .project-bg {background: url(../images/index/project-2-bg.png) no-repeat 50%; background-size: 90%;}

.project .project-detail-container .project-detail.part3{background-color: #FFE96A;}
.project .project-detail-container .project-detail.part3 .project-bg {background: url(../images/index/project-3-bg.png) no-repeat 50%; background-size: 90%;}

.project .project-detail-container .project-detail.part4{background-color: #9B57E4;}
.project .project-detail-container .project-detail.part4 .project-bg {background: url(../images/index/project-4-bg.png) no-repeat 50%; background-size: 90%;}



/* carrers */
.carrers{height: 100vh;margin: 0 auto; position: relative;}
.carrers-txt-container{ width: 80%; display: grid; grid-template-columns: 1fr 1.8fr; margin: 0 auto 80px; padding-top: 100px; text-align: left;}
.carrers-txt-container .carrers-txt-box1{grid-column: 1 / 2;}
.carrers-txt-container .carrers-txt-box1 h2{font-size: var(--title-size-md); margin: 0; line-height: 1;}
.carrers-txt-container .carrers-txt-box1 h3{font-size: var(--title-size-sx); margin: 0;}
.carrers-txt-container .carrers-txt-box2{grid-column: 2 / 3; align-self: flex-end; line-height: 1.5; font-size: var(--desc-size-md); }

.carrers-contents-container .carrers-contents{ min-height: 120px; height: 180px; max-height: 200px; border-top: 1px solid var(--primary-color); display: grid; grid-template-columns: 1fr 3fr 0.8fr 0.8fr; position: relative; }
.carrers-contents-container .carrers-contents.box3{border-bottom: 1px solid var(--primary-color);}

.carrers-contents .carrers-contents-job{grid-column: 1 / 2; display: flex;}
.carrers-contents-field{border: 1px solid var(--primary-color); border-radius: 50px; width: 70%; height: 70px; margin: auto; place-content: center; position: relative; left: 15%; color: var(--primary-color);}
.carrers-contents-position{border:  1px solid var(--primary-color); border-radius: 50px; height: 20px; position: absolute; font-size: var(--desc-size-sxx); padding: 0 8px; background-color: #fff; line-height: 20px; left: -10px; top: -10px; transform: rotate(-13deg); color: var(--primary-color);}


.carrers-contents .carrers-contents-jobdetail{grid-column: 2 / 3; font-size: 1.8rem; display: flex;}
.carrers-contents .carrers-contents-jobdetail h3{place-content: center; padding-left: 10%; color: var(--primary-color);} 
.carrers-contents .carrers-contents-jobdate{place-content: center; line-height: 30px; }
.carrers-contents .carrers-gotodetail{background-color: #000; width: 70px; height: 70px; border-radius: 50%; position: absolute; right: 10%; top: 50%; transform: translateY(-50%);
}

/* hover event */
.carrers-contents .carrers-gotodetail-bg{background-color: #000000; position: absolute; width: 100%; height: 100%; clip-path: circle(10px at 88.3% 50%); transition: .8s;}

.carrers-contents:hover .carrers-gotodetail-bg{width: 100%; height: 100%; clip-path: circle(100%); z-index: -9999;}

.carrers-contents:hover .carrers-contents-jobdate{color: #fff;}
.carrers-contents:hover .carrers-contents-field{color: #fff; border-color: #fff;}
.carrers-contents:hover .carrers-contents-position{color: #fff; background-color: transparent; border-color: #fff;}
.carrers-contents:hover .carrers-contents-jobdetail h3{color: #fff;}
.carrers-contents:hover .carrers-gotodetail img{scale: 150%; transition-delay: .2s; transition: .3s;}



.carrers-contents .carrers-gotodetail a{width: 100%; height: 100%; display: block;}
.carrers-contents .carrers-gotodetail img{position: absolute; top: 50%; left: 50%; transform: translateY(-50%) translateX(-50%); height: 40%; bottom: 0;}

/* aboutme */
.aboutme{height:100vh; width: 100%; margin:0 auto; padding: 0; background-color:#F8F8F8;display:flex;flex-direction:column;align-items:center; }  
.aboutme-title{font-size:var(--title-size-sxx);font-weight:lighter;display:flex;justify-content:center;padding-top:80px;position:relative; margin-bottom: 50px;} 
/* .aboutme-title img{transform:scaleX(-1);width:25%;position:absolute;top:30%;right: -30%;transition:1s;}  */

.aboutme-card-container{width:70%; ;display:grid;grid-template-columns:1fr 1fr 1fr 1fr;grid-template-rows:1fr 1fr; gap:15px; height: 100%; padding-bottom: 30px;} 
.aboutme-card{position:relative;transition: 0.5s;transform-style:preserve-3d;
  width: 100%; height: 100%;
}
.aboutme-card-front,.aboutme-card-back{width:100%;height:100%;position:absolute;backface-visibility:hidden;} 
.aboutme-card-front img{position: absolute; height: 40%; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%);}

.aboutme-card-back{background-color:rgb(255, 255, 255);transform:rotateY(180deg); text-align: left; display: grid; grid-template-rows: 1fr 3fr 1fr; grid-template-columns: 1fr; border-radius: 20px; padding: 30px;
    box-shadow: 3px 3px 13px 3px #55555515;} 
.aboutme:hover .aboutme-card{transform:rotateY(180deg);}
.aboutme-card.card2{transition-delay: .1s;}
.aboutme-card.card3{transition-delay: .2s;}
.aboutme-card.card4{transition-delay: .3s;}
.aboutme-card.card5{transition-delay: .4s;}
.aboutme-card.card6{transition-delay: .5s;}
.aboutme-card.card7{transition-delay: .6s;}
.aboutme-card.card8{transition-delay: .7s;}

.aboutme-card-title{border-radius: 50px; border: 1px solid var(--primary-color); height: 35px; line-height: 35px; text-align: center; width: fit-content; padding: 0 10px; font-size: var(--desc-size-sm); font-weight: bold; grid-row: 1 / 2; grid-column: 1 / 2; margin-right: 5px;}
.aboutme-card-txt{grid-row: 2 / 3; font-size: var(--desc-size-sm); line-height: 1.5; word-break: keep-all;}
.aboutme-card-container .aboutme-card .aboutme-card-back img{grid-row: 3 / 4; height: 1.5vw; bottom: 0; position: absolute; right: 20px;}
.aboutme-card-titlebox{display: flex;}
.aboutme-card-title.illustration{position: absolute; left: 0; top: 35px; margin-top: 5px; }
.aboutme-card-txt.card4{margin-top: 30px;}

/* front card */
.aboutme-card-front{background-color:rgb(255, 255, 255); z-index:2; border-radius: 20px; box-shadow: 3px 3px 13px 3px #55555515; padding: 24px; }




/* txt-effect */

.txteffect{height: 100vh; display: flex; justify-content: center; align-items: center; font-family: "Anton", sans-serif; font-size: 8rem; letter-spacing: .3rem; color: #000000; margin: 100px 0 100px;}
.branding, .digital, .design, .storytelling{transform: scaleY(1.5);margin: 0; padding: 0; width: auto; }
.txteffect-container{width: 90%; height: 90%; margin: 24px; display: grid; grid-template-rows: 1fr 1fr 1fr; 
overflow: hidden; position: relative;
}
.txteffect-container ul{display: flex; align-items: center;}

.txteffect-container .txteffect-img{width: 100%; height: 80%; margin: 0 24px; border-radius: 20px;}

.row1 .txteffect-img:nth-child(1){background: url(../images/index/txteffect-1.avif) 50% 100% no-repeat; background-size: cover;}
.row1 .txteffect-img:nth-child(3){background: url(../images/index/txteffect-2.webp) 50% no-repeat; background-size: cover;}
.row1 .txteffect-img:nth-child(5){background: url(../images/index/txteffect-1.avif) 50% 100% no-repeat; background-size: cover;}
.row1 .txteffect-img:nth-child(7){background: url(../images/index/txteffect-2.webp) 50% no-repeat; background-size: cover;}

.row2 .txteffect-img:nth-child(2){background: url(../images/index/txteffect-3.webp) 50% no-repeat; background-size: cover;}
.row2 .txteffect-img:nth-child(4){background: url(../images/index/txteffect-6.webp) 50% 60% no-repeat; background-size: cover;}
.row2 .txteffect-img:nth-child(6){background: url(../images/index/txteffect-3.webp) 50% no-repeat; background-size: cover;}
.row2 .txteffect-img:nth-child(8){background: url(../images/index/txteffect-6.webp) 50% 60% no-repeat; background-size: cover;}


.row3 .txteffect-img:nth-child(1){background: url(../images/index/txteffect-5.webp) 50% no-repeat; background-size: cover;}
.row3 .txteffect-img:nth-child(3){background: url(../images/index/txteffect-7.webp) 50% no-repeat; background-size: cover;}
.row3 .txteffect-img:nth-child(5){background: url(../images/index/txteffect-5.webp) 50% no-repeat; background-size: cover;}
.row3 .txteffect-img:nth-child(7){background: url(../images/index/txteffect-7.webp) 50% no-repeat; background-size: cover;}





.txteffect-container .row1{width: 200%; position: absolute; overflow: hidden; animation: marquee 20s linear infinite; grid-row: 1 / 2;}
.txteffect-container .row2{width: 200%; position: absolute; overflow: hidden; animation: marquee 20s linear infinite reverse; grid-row: 2 / 3;}
.txteffect-container .row3{width: 200%; position: relative; overflow: hidden; animation: marquee 20s linear infinite; grid-row: 3 / 4;}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}



/* footer */
.footer-main{position: absolute; top: 50%; left: 10%; transform: translateY(-50%); text-align: left; font-size: var(--title-size-md); line-height: 1.5;}
.footer-main h1{font-weight: 1000;}
.footer-main h4{font-weight: normal; font-size: var(--title-size-sm);}
.footer-main-link{font-size: var(--desc-size-md); display: flex; justify-content: space-between; width: 60%; margin-top: 20px;}
.footer-main-link p{line-height: 30px;}

footer .go-to-git{width: 30px; height: 30px; min-width: 30px; min-height: 30px; background-color: var(--primary-color); border-radius: 50%; margin: 0 10px;}
footer .go-to-git img{width: 50%; display: block; margin: auto; height: 100%;}

footer .footer-main-gitstudy{display: flex;}
footer .footer-main-gitportfolio{display: flex; margin-left: 10%;}

.sayhi{ position: absolute; width: 45%; height: 60%; right: 7%; top: 50%; transform: translateY(-50%); display: grid; grid-template-rows: 1fr 1fr; grid-template-columns: 1fr;}
.sayhi-row1{width: 100%; height: 100%; grid-column: 1/2; grid-row: 1/2; display: flex;}
.sayhi-row2{width: 100%; height: 100%; grid-row: 2/3; grid-column: 1/2; display: flex; justify-content: center;}
.sayhi-box{aspect-ratio: 1; background-color: #ddd;}
.sayhi-box-1{background: url(../images/index/sayhi-1.png) 50% no-repeat; background-size: 50%;}
.sayhi-box-2{background: url(../images/index/sayhi-2.png) 50% no-repeat; background-size: 70%;}
.sayhi-box-3{background: url(../images/index/sayhi-3.png) 50% no-repeat; background-size: 80%;}
.sayhi-box-4{background: url(../images/index/sayhi-4.png) 50% no-repeat; background-size: 70%;}
.sayhi-box-5{background: url(../images/index/sayhi-5.png) 50% no-repeat; background-size: 25%;}






/* 태블릿 */
@media (min-width:768px) and (max-width:1023px){
    /* project */
    .project .project-box .project-index .project-no{bottom: -180%;}

    /* carrers */
    .carrers-txt-container{ width: 90%;}
    .carrers-txt-container .carrers-txt-box1 h2{font-size: var(--title-size-sm);}
    .carrers-txt-container .carrers-txt-box1 h3{font-size: var(--title-size-sxxx);}
    .carrers-txt-container .carrers-txt-box2{font-size: var(--desc-size-sxx); margin-left: 20px;}
    .carrers-contents-field{width: 90%;}
    .carrers-contents-position{padding: 0 12px;}
    .carrers-contents .carrers-contents-jobdetail{word-break: keep-all; font-size: var(--title-size-sxx);}

    /* aboutme */
    .aboutme-card-title{font-size: var(--desc-size-sxx); padding: 0 7px; margin: 0 3px 0 0; border-radius: 15px;}
    .aboutme-card-txt{ font-size: var(--desc-size-sxx);}
}


@media (min-width:1024px) and (max-width:1536px){
  /* project */
  .project .project-box .project-index .project-no{transform: translateY(500px);}
  .project .project-detail-container .project-detail{width: 400px; height: 250px;}

  /* carrers */
  .carrers-txt-container{ margin: 0 auto 50px; padding-top: 80px;}
  .carrers-contents-container .carrers-contents{ height: 150px;}

  .carrers-txt-container .carrers-txt-box1 h2{font-size: var(--title-size-md);}
  .carrers-txt-container .carrers-txt-box1 h3{font-size: var(--title-size-sxxx);}

    /* aboutme */
    .aboutme-card-title{font-size: var(--desc-size-sxx); padding: 0 7px; margin: 0 3px 0 0; word-break: keep-all;}
    .aboutme-card-txt{ font-size: var(--desc-size-sxx);}

    .aboutme-card-back{padding: 20px;} 

    /* sayhi */
    .sayhi{ position: absolute; width: 45%; height: 40%; right: 0%; top: 50%; transform: translateY(-50%); display: grid; grid-template-rows: 1fr 1fr; grid-template-columns: 1fr;}
}


