@charset "UTF-8";

.side{position: fixed; right: 0; background-color: #ddd; height: 100%; max-width: 650px; width: 40%;}

.side-container{width: 80%; margin: 0 auto;}
.side-container ul{display: flex; justify-content: space-between; border-bottom: 1px solid #000; padding: 10px;}
.side-container ul li{}
.side-container div{border-bottom: 1px solid #000; padding: 30px;}
.side-container ul:nth-child(1){margin-top: 150px; border-top: 1px solid #000;}