@charset "UTF-8";

body{text-align: center; font-family: var(--primary-font-ko); margin: 0;}

/***** header *****/
header{width: 100%; height: 60px; display: flex; position: fixed;  padding: 0 24px; margin-top: 10px; z-index: 999999999;}

/* menu */
header .menu{width: 470px; max-width: 470px; min-width: 200px; height: 40px; display: flex; justify-content: space-evenly; margin: auto;
font-size: var(--desc-size-sm);
}
header .menu li{width: 100%;}
header .menu li a{display: block; line-height: 40px;}
/* logo */
header #go-to-top {display: flex; }
header #go-to-top img{height: 70%; cursor: pointer; position: absolute; align-self: center; }
/* menu */
header .ghost-menu{ width: 84px; height: 60px; position: absolute; right: 0; top: 50%; transform: translateY(-50%);}


/***** main *****/



/***** footer *****/
footer .footer-box{display: grid; grid-template-columns: 1fr 1fr 1fr; height: 60px; align-items: center;}

footer .go-to-git{width: 30px; height: 30px; min-width: 30px; min-height: 30px; background-color: var(--primary-color); border-radius: 50%; margin: 0 10px;}
footer .go-to-git img{width: 50%; display: block; margin: auto; height: 100%;}


footer .footer-box-contents{grid-column: 1 / 2; display: flex;}
footer .footer-box-contents p{line-height: 30px;}
footer .footer-box-gitstudy{display: flex;}
footer .footer-box-gitportfolio{display: flex; margin-left: 10%;}

footer #go-to-top{grid-column: 2 / 3; cursor: pointer;}
footer .footer-box-contact{grid-column: 3 / 4;}
footer .footer-box-contact p{text-align: right;}
